Take some time to look through the datasetâ€™s description in EDI and click around. Discuss the following questions with your team:

What is this data about?
During what time frame were the observations in the dataset collected?
Does the dataset contain sensitive data?
Is there a publication associated with this dataset?
In your notebook: use a markdown cell to add a brief description of the dataset, including a citation, date of access, and a link to the archive.

Data from capture-recapture studies of snowshoe hares. The data is from 1999-2012. The data does not contain sensitive data. There is a publication associated with this dataset. 
Data of access: Oct 19th

Kielland, K., F.S. Chapin, R.W. Ruess, and Bonanza Creek LTER. 2017. Snowshoe hare physical data in Bonanza Creek Experimental Forest: 1999-Present ver 22. Environmental Data Initiative. https://doi.org/10.6073/pasta/03dce4856d79b91557d8e6ce2cbcdc14 (Accessed 2023-10-19).


![snowshoe hare](https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ0dcC4Q-P2d3DCByovjQyuv8FEqb_Qk7971GRAOttnUoX891Oj)

In [3]:
# read in data
import pandas as pd


url = "https://portal.edirepository.org/nis/dataviewer?packageid=knb-lter-bnz.55.22&entityid=f01f5d71be949b8c700b6ecd1c42c701"
hares = pd.read_csv(url)

hares.head()

,date,time,grid,trap,l_ear,r_ear,sex,age,weight,hindft,notes,b_key,session_id,study
0,11/26/1998,NaN,bonrip,1A,414D096A08,NaN,NaN,NaN,1370.0,160.0,NaN,917.0,51,Population
1,11/26/1998,NaN,bonrip,2C,414D320671,NaN,M,NaN,1430.0,NaN,NaN,936.0,51,Population
2,11/26/1998,NaN,bonrip,2D,414D103E3A,NaN,M,NaN,1430.0,NaN,NaN,921.0,51,Population
3,11/26/1998,NaN,bonrip,2E,414D262D43,NaN,NaN,NaN,1490.0,135.0,NaN,931.0,51,Population
4,11/26/1998,NaN,bonrip,3B,414D2B4B58,NaN,NaN,NaN,1710.0,150.0,NaN,933.0,51,Population

Get the number of teams each unique non-NA value in the sex column appears by running hares.sex.value_counts().

In [4]:
hares.sex.value_counts()

F     1161
M      730
f      556
m      515
?       40
F?      10
f        4
m        4
f?       3
M?       2
m?       2
pf       1
Name: sex, dtype: int64

Check the documentation of value_counts(). What is the purpose of the dropna=False parameter? Do step 2 again, this time adding the dropna=False parameter to value_counts().

In [5]:
hares.sex.value_counts(dropna= False)

F      1161
M       730
f       556
m       515
NaN     352
?        40
F?       10
f         4
m         4
f?        3
M?        2
m?        2
pf        1
Name: sex, dtype: int64

Discuss with your team the output of the unique value counts. Notice anything odd?

**There is not a consistent naming method that males and females are identified.**

You likely noticed there seem to be some repeated values, for example m appears twice. Use the unique() method on the sex column to see the unique non-NA values in this column. Discuss with your team what was the cause of the seemingly repeated values.

In [7]:
hares.sex.unique()

array([nan, 'M', 'F', '?', 'F?', 'M?', 'pf', 'm', 'f', 'f?', 'm?', 'f ',
       'm '], dtype=object)

**This data was likely inputted by different people who had different ways to identify gender. Also, it seems as though they were not positive on their guess for gender for all obervations.**

In the metadata section of the EDI repository, find which are the allowed values for the sex column. Discuss with your team whether these values correspond to the values present in the dataset.